body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-image: url('images/cliff_rock.jpg'); /* Background image */
    background-size: cover;
    color: white;
    padding: 20px;
    text-align: center;
}

.main-menu ul {
    list-style-type: none;
    padding: 0;
}

.main-menu li {
    display: inline;
    margin-right: 20px;
}

footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 10px;
}
